server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://auth-service:8001
          predicates:
            - Path=/auth/**

        - id: student-service
          uri: http://student-service:8100
          predicates:
            - Path=/students/**

        # REST proxy for course service (if any REST endpoints are added later)
        - id: course-service-rest
          uri: http://course-service:8200
          predicates:
            - Path=/courses/**

        # SOAP passthrough to JAX-WS endpoint
        - id: course-service-soap
          uri: http://course-service:8200
          predicates:
            - Path=/soap/course/**
          filters:
            # strip /soap/course -> forward to /course-service
            - StripPrefix=2
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: GET,POST,PUT,DELETE,OPTIONS
            allowedHeaders: "*"
